#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333344;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 1050px;
  margin: auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #808000;
}


.text-block {
  position:absolute;
  font-size:150%;
  width: 1050px;
  height:102%; 
  top:7.8%;
  padding-top: 5%;
  /* transform: translate(-50%, -50%); */
  background: rgb(37, 36, 36); /*(Fallback color */
  background: rgba(70, 64, 70, 0.5); /*Black background with 0.5 opacity*/
  color:rgb(247, 243, 247);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#home{
    width:1050px;
    margin:auto; 
    height:600px; 
    background:black; 
    background:url("IMG-20190411-WA0006.jpg"); 
    background-size: cover;
    overflow:auto;
    padding-bottom: 100px;
    background-repeat: no-repeat;
}
#cv{
  padding-top: 100px;
  width:1050px;
  margin:auto; 
  height:auto; 
  background:white;  
  overflow:auto;
  padding-bottom: 100px;
  color:#4f5c68;
}
/* style the body of the cv div */
#cvcont{
  margin: 10px;
}

/*style for the nav bar under cv*/
#cv2{
  padding-top: 100px;
  width:1050px;
  margin:auto; 
  height:auto; 
  background:white;  
  overflow:auto;
  padding-bottom: 100px;
  color:#4f5c68;
}

#contact{
  padding-top: 100px;
  width:1050px;
  margin:auto; 
  height:auto; 
  /* background:#808000; */
  background:#4f5c68;
  /* background: url("formb1.jpeg") ;  */
  background-repeat: no-repeat;
  background-size: cover;
  overflow:auto;
  padding-bottom: 100px;
}
#chat{
  padding-top: 100px;
  width:1050px;
  margin:auto; 
  height:auto; 
  background:rgb(243, 245, 245); 
  overflow:auto;
  padding-bottom: 100px;
}

#footer{
  padding-top: 100px;
  width:1050px;
  margin:auto; 
  height:40%; 
  background:black; 
  /*background: rgb(233, 219, 219);/* (Fallback color */
  /*background: rgba(158, 144, 158, 0.5); /*Black background with 0.5 opacity */
  overflow:auto;
  padding-bottom: 100px;
}

img{
  border-radius: 100%;
  image-orientation: inherit;
  height: 300px;
  width: 25%;
  zoom: 1.3;
  float: right;
}


.leftdiv{ 
  border-radius: 25px;
  float:left;  
  width:47%; 
  height:auto; 
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
}

.rightdiv{
  border-radius: 25px;
  float:right; 
  width:47%; 
  height:auto; 
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
}

/* styles for the contact form */
/* Style inputs with type="text", select elements and textareas */
input, select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color:rgb(204, 201, 39);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: lightgreen;
}

/* Add a background color and some padding around the form */
.fcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-right: 25%;
  margin-left: 25%; 
  background: rgb(233, 219, 219);/* (Fallback color */
  background: rgba(158, 144, 158, 0.5); /*Black background with 0.5 opacity */
  color: #e0e6ec;
}

h3{
  /*background: #0e0d0d;/*(Fallback color)*/
  /* bacskground: rgba(14, 13, 14, 0.5); Black background with 0.5 opacity */
  color:rgb(204, 201, 39);
  /* color:lightseagreen; */
  text-shadow: rgb(103, 19, 110);
  text-decoration-line: underline;
}

#social{
  height: 110px;
  padding-left: 38%;
}

.social{
  height: 40px;
  width: 40px;
}
#send{
  background: rgb(204, 201, 39);
}